<footer class="bg-light shadow">
    <div class="row">
        <div class="card col-sm-3">
            <ul>
                <li>Privacy policy</li>
                <li>About us</li>
                <li>Indian writer stubs</li>
            </ul>
        </div>
        <div class="card col-sm-3">
            <ul>
                <li>Statistics</li>
                <li>Cookie statement</li>
                <li>Developers</li>
            </ul>
        </div>
        <div class="card col-sm-3">
            <ul>
                <li>Terms of use</li>
                <li>Disclaimers</li>
                <li>Help</li>
            </ul>
        </div>
        <div class="card col-sm-3">
            <ul>
                <li>DIGI-LIB foundation</li>
                <li>Contact us</li>
                <li>Donate</li>
            </ul>
        </div>
    </div>
</footer>